body {
background: black;
      }
.button {
color:white;
font-size: 18px;
background-color: #bbbbbb !important;
}

.number {
font-size: 30px !important;
color: white;
text-align: center;
}	

.logo {
width:90%;
}

.switch label input[type=checkbox]:checked+.lever:after {
      background-color: green !important; 
  }
  
  .switch label input[type=checkbox]:checked+.lever {
      background-color: #6dce55;
  }